<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <script type="text/javascript" src="/hui/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/hui/lib/layer/2.4/layer.js"></script>

    <script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/hui/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="/hui/static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="/hui/static/h-ui.admin/js/H-ui.admin.page.js"></script>
</footer>

