<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css"></link>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
<!-- header -->
<div th:replace="common/common :: header"></div>
<!--左边导航-->
<div th:replace="common/common :: leftnav"></div>

<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">内容主体区域</div>
</div>

<div th:replace="common/common :: footer"></div>

</div>
<script src="/layui/jquery-3.3.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var layer = layui.layer ;
        var element = layui.element;
    });
</script>
</body>
</html>